In [2]:
import os
import pandas as pd

ability_1 = pd.read_csv("global.csv", encoding="utf-8")
ability_2 = pd.read_csv("active.csv", encoding="utf-8")
ability_3 = pd.read_csv("challenge.csv", encoding="utf-8")
ability_4 = pd.read_csv("sincerity.csv", encoding="utf-8")
ability_5 = pd.read_csv("communication.csv", encoding="utf-8")
ability_6 = pd.read_csv("patience.csv", encoding="utf-8")
ability_7 = pd.read_csv("honest.csv", encoding="utf-8")
ability_8 = pd.read_csv("owner_spirit.csv", encoding="utf-8")
ability_9 = pd.read_csv("creativity.csv", encoding="utf-8")
ability_10 = pd.read_csv("teamwork.csv", encoding="utf-8")

ability_1.head()

   label                                           sentence
0      1                    서울시  외국어 관광안내판 오류 224건 …내달까지 시정
1      1  서울시는 관광특구의 외국어 관광안내 표지판을 점검한 결과 영문 79건 중문 40건 ...
2      1                         부산시 지역기업 외국어 디지털 콘텐츠 제작 지원
3      1  부산에 있는 디지털 헬스케어 관련 기업을 대상으로 하며 외국어 홍보 동영상·전자 카...
4      1                      부산시 지역기업 위해 외국어 디지털 콘텐츠 제작 지원

In [3]:
ability_2.head()

   label                                           sentence
0      2                       양향자  광주국세청 더 적극적으로 세정지원 펼쳐야
1      2  양향자 의원은 “올해는 코로나19와 폭우 등으로 인해 지역 기업들이 큰 타격을 입었...
2      2                     윤갑근  김진애 의원 민·형사 소송 제기 적극적 검토
3      2  제기를 적극적으로 검토하고 있다고 밝혔다. 윤 위원장은 이날 입장문을 내고  어제(...
4      2               '파트너' 김호중 스태프로 깜짝 변신…적극적으로 파트너 찾기 나서

In [4]:
ability_3.head()

   label                                           sentence
0      3      [SC현장]  쉬어갈 수 있는 용기 …세븐틴표 청춘응원 글로벌 '홈런'예고(종합)
1      3  청춘들이 한번쯤 느꼈을 법한 생각들은 이시대를 함께 살아가는 우리 역시 경험한 부분...
2      3              혼돈·좌절·용기·희망  … 전세계 코로나19 현장사진 120점 전시
3      3  혼돈과 고통이 뒤섞인 세계 각국의 현장은 물론 코로나19에 맞서 고군분투하며 용기 ...
4      3                          “쓰레기 산 줄이려면 다회 용기 만들어 쓰자”

In [5]:
a1 = pd.DataFrame(ability_1["sentence"])
a1["label"] = 1
a1.head()

                                            sentence  label
0                    서울시  외국어 관광안내판 오류 224건 …내달까지 시정      1
1  서울시는 관광특구의 외국어 관광안내 표지판을 점검한 결과 영문 79건 중문 40건 ...      1
2                         부산시 지역기업 외국어 디지털 콘텐츠 제작 지원      1
3  부산에 있는 디지털 헬스케어 관련 기업을 대상으로 하며 외국어 홍보 동영상·전자 카...      1
4                      부산시 지역기업 위해 외국어 디지털 콘텐츠 제작 지원      1

In [6]:
a2 = pd.DataFrame(ability_2["sentence"])
a2["label"] = 2
a2.head()

                                            sentence  label
0                       양향자  광주국세청 더 적극적으로 세정지원 펼쳐야       2
1  양향자 의원은 “올해는 코로나19와 폭우 등으로 인해 지역 기업들이 큰 타격을 입었...      2
2                     윤갑근  김진애 의원 민·형사 소송 제기 적극적 검토       2
3  제기를 적극적으로 검토하고 있다고 밝혔다. 윤 위원장은 이날 입장문을 내고  어제(...      2
4               '파트너' 김호중 스태프로 깜짝 변신…적극적으로 파트너 찾기 나서      2

In [7]:
a3 = pd.DataFrame(ability_3["sentence"])
a3["label"] = 3
a3.head()

                                            sentence  label
0      [SC현장]  쉬어갈 수 있는 용기 …세븐틴표 청춘응원 글로벌 '홈런'예고(종합)      3
1  청춘들이 한번쯤 느꼈을 법한 생각들은 이시대를 함께 살아가는 우리 역시 경험한 부분...      3
2              혼돈·좌절·용기·희망  … 전세계 코로나19 현장사진 120점 전시      3
3  혼돈과 고통이 뒤섞인 세계 각국의 현장은 물론 코로나19에 맞서 고군분투하며 용기 ...      3
4                          “쓰레기 산 줄이려면 다회 용기 만들어 쓰자”      3

In [8]:
a4 = pd.DataFrame(ability_4["sentence"])
a4["label"] = 4
a4.head()

                                            sentence  label
0                  당론에 충실한 이재명  옵티머스 연루? 그래서 공수처 필요       4
1  이재명 경기도지사(사진)는 19일 자신과 옵티머스자산운용 사기 사건 연루를 주장하는...      4
2                          [편집장 레터] “그냥 家業에나 충실할 걸…”      4
3  그냥 가업에나 충실할 걸 그랬다.” K대표의 후회 담긴 토로가 가볍게 들리지 않습니...      4
4                  박영선 “서울시장 출마? 아직 제 직분에 충실…생각 안해봐”      4

In [9]:
a5 = pd.DataFrame(ability_5["sentence"])
a5["label"] = 5
a5.head()

                                            sentence  label
0                            한·덴마크 의약품 임상시험 정보 교류 강화      5
1  식품의약품안전처는 덴마크 의약품청과 임상시험 분야 발전방안을 논의하고 정보교류 등 ...      5
2                              국감 출석한 이근 한국국제교류재단이사장      5
3  이근 한국국제교류재단 이사장이 19일 오전 서울 여의도 국회 외교통일위원회에서 열린...      5
4                             안산시-전남 고흥군 상생우호교류 협약체결      5

In [10]:
a6 = pd.DataFrame(ability_6["sentence"])
a6["label"] = 6
a6.head()

                                            sentence  label
0                      [황승연 칼럼] 한국인의 거짓말과 뿌리 깊은 노비근성      6
1  조선왕조가 500년을 이어오면서 왕조의 존립을 위해 지속시켰던 노비제도는 뿌리 깊은...      6
2                   “난 근성작가 김성모”… 더 이상의 자세한 설명은 생략한다      6
3  “나는 근성작가” 만화가 김성모 “더 이상의 자세한 설명은 생략한다.” 만화가 김성...      6
4   '갬성캠핑' 박나래→박소담 근성캠핑 OPEN! 송승헌 '샤인머쓱햇' 부캐 획득 [종합]      6

In [11]:
a7 = pd.DataFrame(ability_7["sentence"])
a7["label"] = 7
a7.head()

                                            sentence  label
0              '임창정표 발라드' 사랑 이유? 솔직담백함 때문 아닐까!  (종합)      7
1  남자들이 어떤 사랑을 하고 시간이 지나서 느낄 수 있는 미안함을 솔직담백하게 서술형...      7
2                     임창정  시적이지 않은 솔직담백함이 제 노래 인기비결       7
3  그는  어떤 사랑을 했을 때 시간이 지나 누구나 다 느낄 수 있는 미안함을 솔직담백...      7
4   우린 무슨 사이야 그냥 일하는 건가? ..'우다사3' 현우 솔직 심경 고백→♥지주...      7

In [12]:
a8 = pd.DataFrame(ability_8["sentence"])
a8["label"] = 8
a8.head()

                                            sentence  label
0        삼성전자  뉴노멀 시대 주도할 소프트웨어 인재 여기에 … SSAFY 5기 모집      8
1  1학기에는 알고리즘 기반의 몰입형 코딩 교육을 받아 기본기를 다지고 2학기에는 프로...      8
2         '자기계발 무료교육' 보육교사·육아종합지원센터 관련 취업돕는 심리상담사자격증      8
3  학습관련 자격과정으로는 스스로 공부하는 법을 배울 수 있는 자기주도학습지도사자격증 ...      8
4  대구시교육청  코로나19 대응 블렌디드 러닝으로 사고하고 탐구하는 학생주도수업을 위...      8

In [13]:
a9 = pd.DataFrame(ability_9["sentence"])
a9["label"] = 9
a9.head()

                                            sentence  label
0                    독창적 외관·고성능 감성…제네시스 ‘더 뉴 G70’ 출시      9
1  제네시스의 중형 스포츠 세단 ‘G70’가 새로운 얼굴로 돌아왔다. 제네시스 브랜드는...      9
2                        독창적인 조리법 특허 최근 4년간 1450건 등록      9
3  조리법으로 독창성이 인정되는 경우 특허를 받을 수 있다 고 밝혔다. 또  이미 공개...      9
4                             [문화가소식] 소프라노 신은선 독창회 외      9

In [14]:
a10 = pd.DataFrame(ability_10["sentence"])
a10["label"] = 10
a10.head()

                                            sentence  label
0                         대구경북로컬푸드 전국 첫 이종협동조합연합회 인가     10
1  대구경북로컬푸드이종협동조합연합회는 기획재정부로부터 전국 첫 이종협동조합연합회 설립 ...     10
2                               진주축산업협동조합 축산물·난방유 나눔     10
3  진주축산업협동조합(조합장 조양수)은 19일 농협중앙회 진주시지부 ㈔나눔축산운동본부 ...     10
4                     브릿지협동조합 '사회적경제기업 B2G 영업 전략' 교육     10

In [15]:
data = a1.append(a2).append(a3).append(a4).append(a5).append(a6).append(a7).append(a8).append(a9).append(a10)

In [16]:
data.shape

(2000, 2)

In [17]:
import numpy as np
from sklearn.model_selection import train_test_split

In [18]:
train, test = train_test_split(data, test_size=0.2, random_state=42)

In [19]:
train["label"] = pd.Categorical(train["label"])

<ipython-input-19-da4c400a24e1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["label"] = pd.Categorical(train["label"])

In [20]:
train.groupby("label").count()

       sentence
label
1           164
2           153
3           154
4           164
5           166
6           166
7           167
8           156
9           152
10          158

In [21]:
test.groupby("label").count()

       sentence
label
1            36
2            47
3            46
4            36
5            34
6            33
7            33
8            44
9            48
10           42

In [22]:
from konlpy.tag import Twitter
from sklearn.feature_extraction.text import CountVectorizer

ModuleNotFoundError: No module named 'konlpy'

In [138]:
def get_noun(text):
    tokenizer = Twitter()
    nouns = tokenizer.nouns(text)
    return [n for n in nouns]

In [139]:
cv = CountVectorizer(tokenizer=get_noun,stop_words=None, ngram_range=(1, 2))

In [ ]:
tdm = cv.fit_transform(train["sentence"])

In [99]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import Pipeline

text_clf_svm = Pipeline([('vect', CountVectorizer(tokenizer=get_noun)),
                         ('tfidf', TfidfTransformer()),
                         ('clf-svm', SGDClassifier(loss='hinge', penalty='l2', alpha=1e-3, n_iter=5, random_state=42))])

text_clf_svm = text_clf_svm.fit(train["sentence"], train["label"])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:152: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

In [ ]:
predicted_svm = text_clf_svm.predict(test["sentence"])
np.mean(predicted_svm == test["label"])

In [ ]:
print(type(predicted_svm))

In [ ]:
text_clf_svm.predict(["[창조는 메모에서 비롯된다] 평소에 이런저런 생각을 메모하는 습관이 있습니다. 이 습관은 인턴활동을 할 때 많은 도움이 되었습니다. 인턴 교육당시에 업무 중에 포스터 기획을 하는 업무도 있다는 말씀을 해 주셨습니다. 그 후에 제품에 대한 교육이 이뤄졌습니다. 제품에 대한 장점들을 기준을 세워 메모를 하였습니다. 그 후 장소에 구애받지 않고 제품의 장점 그리고 시즈널 키워드를 활용하여 아이디어를 메모했습니다. 제품 중에 닭죽이 있었는데, 그 죽의 효능이 수능생들에 매우 많은 도움이 되는 것들이었습니다. 그래서 저는 수능 시즌에 맞춘 아이디어를 제공하여 닭죽을 먹으면 이 죽을 먹으며 죽빵을 날리는 것 처럼 문제를 한방 먹인다는 컨셉으로 포스터를 기획했습니다. 이 포스터로 흥미을 유발하여 고객층의 소비를 이끌었던 적 있습니다."])
print (text_clf_svm.decision_function(["평소에 이런저런 생각을 메모하는 습관이 있습니다. 이 습관은 인턴활동을 할 때 많은 도움이 되었습니다. 인턴 교육당시에 업무 중에 포스터 기획을 하는 업무도 있다는 말씀을 해 주셨습니다. 그 후에 제품에 대한 교육이 이뤄졌습니다. 제품에 대한 장점들을 기준을 세워 메모를 하였습니다. 그 후 장소에 구애받지 않고 제품의 장점 그리고 시즈널 키워드를 활용하여 아이디어를 메모했습니다. 제품 중에 닭죽이 있었는데, 그 죽의 효능이 수능생들에 매우 많은 도움이 되는 것들이었습니다. 그래서 저는 수능 시즌에 맞춘 아이디어를 제공하여 닭죽을 먹으면 이 죽을 먹으며 죽빵을 날리는 것 처럼 문제를 한방 먹인다는 컨셉으로 포스터를 기획했습니다. 이 포스터로 흥미을 유발하여 고객층의 소비를 이끌었던 적 있습니다."]))

#[창조는 메모에서 비롯된다] 포함해서 돌리면 확실히 창의 역량의 값이 커짐
#제외해서 돌려도 제일 크긴함

In [ ]:
text_clf_svm.predict(["지원동기:지원동기를구체적으로기술해주세요\n[새로운 도전을 통해 성장하는 사람]\n롯데 e커머스에서 보이스커머스 사업을 내년 상반기에 상용화할 것이라는 계획을 접하게 되었습니다. 보이스커머스의 핵심 기술 중 하나는 바로 STT 입니다. 저는 000 프로젝트에서 STT 기술을 이용해 000을 제공하는 앱을 개발하였습니다. 이를 통해 STT 기술에 대한 이해와 중요성을 배울 수 있었습니다. 이때의 경험이 롯데 e커머스의 프로그래밍 직무를 수행하는 데 도움이 될 것이라 생각합니다.\n저의 목표 IT 기술을 통해 사람들의 생활을 보다 편리하게 만드는 것입니다. 롯데 e커머스에서는 보이스커머스 뿐만 아니라 사만다 톡추천, 쇼바시, 스마트픽 등 고객들에게 편리한 서비스 제공을 위해 큰 노력을 하고 있습니다. 고객의 생활을 더욱 편리하게 만든다는 것이 제가 추구하는 바와 같다고 생각합니다. 그리고 SSO 시스템을 통해 새롭게 도약하는 롯데 e커머스와 함께 하고 싶기에 지원하게 되었습니다.\n성장과정:성장과정을구체적으로기술해주세요.[새로운 도전을 통해 성장하는 사람]\n경험을 통해 배움을 얻을 수 있다는 생각을 가지고 있습니다. 그래서 도전할 기회가 생기면 주저하지 않고 참여하였습니 다.\n첫째, IT 관련해서 2회 인턴 경험과 다양한 개발 프로젝트 경험을 가지고 있습니다.\n3학년 재학 중 웹에이전시 기획팀 인턴에 참여할 수 있는 기회가 주어졌습니다. 인턴을 하며 기획, 디자인, 개발 교육을 받았고 다양한 프로젝트를 수행하였습니다. 이를 통해 프로젝트 진행 과정과 협력을 배울 수 있었습니다. 또한, 재학 중 다양한 개발 프로젝트를 진행하였습니다. 참여에 그치는 것이 아니라 공모전 출품, 정보처리학회 추계학술대회 참여 등 도전을 확장해나갔습니다.\n둘째, IT 매니저 업무를 통해 실무를 익히다.\n3개월 동안 진학 컨설팅 센터에서 근무한 경험이 있습니다. 1달도 채 남지 않은 오픈 날짜까지 웹 개편부터 SNS 관리를 요청받았습니다. 하지만 IT 매니저는 저뿐이고, 센터 내에 IT 업무에 대해 아는 분이 없는 상황이었습니다. 그래서 웹 개발 부터 SNS 홍보 방식까지 모두 알아보았습니다. 먼저 외주업체를 선정해 퍼블리싱을 요청하였고, 퍼블리싱된 소스 코드에Javascript 코드를 추가하는 방식으로 웹 개편을 하였습니다. 그리고 블로그, 인스타, 페이스북에 센터 자료를 제작해 업로드 하였고, 페이스북 광고를 진행하는 등 다양한 매체를 통해 홍보하였습니다. 그 결과 오픈 날짜에 맞춰 성공적으로 홈페이지 개편과 홍보를 할 수 있었습니다. 포기하지 않고 도전한 다양한 경험을 바탕으로 롯데 e커머스에서도 적극적인 업무자세를 보여드리겠습니다.\n입사후포부:입사후10년동안의회사생활시나리오와그것을추구하는이유를기술해주세요.\n[오늘보다 내일 더 성장하는 사람]\n먼저 입사 후 롯데 e커머스의 프로젝트 진행 과정을 파악하고 이해하겠습니다. 그리고 이를 토대로 내년 상반기 오픈 예정인 투게더 앱에 대해 고민하는 신입사원이 되겠습니다. 그리고 빅데이터를 잘 다룰 수 있도록 공부하고, DBA 자격증을 취득해 전문성을 갖추겠습니다.\n5년 후, 고객별 맞춤형 추천 시스템을이 도입될 수 있도록 하겠습니다. 유튜브 사용자 맞춤 동영상 추천처럼 맞춤 추천 시스템은 다양한 기업에서 사용하고 있습니다. 롯데 e커머스에도 적용되어 고객마다 다른 추천 상품을 볼 있도록 하고, 이를 통해 편리성과 매출 증대를 이룰 수 있도록 하겠습니다.\n10년 후, 업계를 선도하는 롯데 e커머스의 프로젝트 매니저로 성장하여 인공지능, 빅데이터를 활용해 추천을 넘어 고객의 삶에 필수적인 서비스를 기획하고 개발하겠습니다. 지나온 10년을 설하고, 앞으로의 10년을 준비하겠습니다. 그리고 오늘 보다 내일 더 성장하는 롯데 e커머스의 일원이 되겠습니다."])
print (text_clf_svm.decision_function(["지원동기:지원동기를구체적으로기술해주세요\n[새로운 도전을 통해 성장하는 사람]\n롯데 e커머스에서 보이스커머스 사업을 내년 상반기에 상용화할 것이라는 계획을 접하게 되었습니다. 보이스커머스의 핵심 기술 중 하나는 바로 STT 입니다. 저는 000 프로젝트에서 STT 기술을 이용해 000을 제공하는 앱을 개발하였습니다. 이를 통해 STT 기술에 대한 이해와 중요성을 배울 수 있었습니다. 이때의 경험이 롯데 e커머스의 프로그래밍 직무를 수행하는 데 도움이 될 것이라 생각합니다.\n저의 목표 IT 기술을 통해 사람들의 생활을 보다 편리하게 만드는 것입니다. 롯데 e커머스에서는 보이스커머스 뿐만 아니라 사만다 톡추천, 쇼바시, 스마트픽 등 고객들에게 편리한 서비스 제공을 위해 큰 노력을 하고 있습니다. 고객의 생활을 더욱 편리하게 만든다는 것이 제가 추구하는 바와 같다고 생각합니다. 그리고 SSO 시스템을 통해 새롭게 도약하는 롯데 e커머스와 함께 하고 싶기에 지원하게 되었습니다.\n성장과정:성장과정을구체적으로기술해주세요.[새로운 도전을 통해 성장하는 사람]\n경험을 통해 배움을 얻을 수 있다는 생각을 가지고 있습니다. 그래서 도전할 기회가 생기면 주저하지 않고 참여하였습니 다.\n첫째, IT 관련해서 2회 인턴 경험과 다양한 개발 프로젝트 경험을 가지고 있습니다.\n3학년 재학 중 웹에이전시 기획팀 인턴에 참여할 수 있는 기회가 주어졌습니다. 인턴을 하며 기획, 디자인, 개발 교육을 받았고 다양한 프로젝트를 수행하였습니다. 이를 통해 프로젝트 진행 과정과 협력을 배울 수 있었습니다. 또한, 재학 중 다양한 개발 프로젝트를 진행하였습니다. 참여에 그치는 것이 아니라 공모전 출품, 정보처리학회 추계학술대회 참여 등 도전을 확장해나갔습니다.\n둘째, IT 매니저 업무를 통해 실무를 익히다.\n3개월 동안 진학 컨설팅 센터에서 근무한 경험이 있습니다. 1달도 채 남지 않은 오픈 날짜까지 웹 개편부터 SNS 관리를 요청받았습니다. 하지만 IT 매니저는 저뿐이고, 센터 내에 IT 업무에 대해 아는 분이 없는 상황이었습니다. 그래서 웹 개발 부터 SNS 홍보 방식까지 모두 알아보았습니다. 먼저 외주업체를 선정해 퍼블리싱을 요청하였고, 퍼블리싱된 소스 코드에Javascript 코드를 추가하는 방식으로 웹 개편을 하였습니다. 그리고 블로그, 인스타, 페이스북에 센터 자료를 제작해 업로드 하였고, 페이스북 광고를 진행하는 등 다양한 매체를 통해 홍보하였습니다. 그 결과 오픈 날짜에 맞춰 성공적으로 홈페이지 개편과 홍보를 할 수 있었습니다. 포기하지 않고 도전한 다양한 경험을 바탕으로 롯데 e커머스에서도 적극적인 업무자세를 보여드리겠습니다.\n입사후포부:입사후10년동안의회사생활시나리오와그것을추구하는이유를기술해주세요.\n[오늘보다 내일 더 성장하는 사람]\n먼저 입사 후 롯데 e커머스의 프로젝트 진행 과정을 파악하고 이해하겠습니다. 그리고 이를 토대로 내년 상반기 오픈 예정인 투게더 앱에 대해 고민하는 신입사원이 되겠습니다. 그리고 빅데이터를 잘 다룰 수 있도록 공부하고, DBA 자격증을 취득해 전문성을 갖추겠습니다.\n5년 후, 고객별 맞춤형 추천 시스템을이 도입될 수 있도록 하겠습니다. 유튜브 사용자 맞춤 동영상 추천처럼 맞춤 추천 시스템은 다양한 기업에서 사용하고 있습니다. 롯데 e커머스에도 적용되어 고객마다 다른 추천 상품을 볼 있도록 하고, 이를 통해 편리성과 매출 증대를 이룰 수 있도록 하겠습니다.\n10년 후, 업계를 선도하는 롯데 e커머스의 프로젝트 매니저로 성장하여 인공지능, 빅데이터를 활용해 추천을 넘어 고객의 삶에 필수적인 서비스를 기획하고 개발하겠습니다. 지나온 10년을 설하고, 앞으로의 10년을 준비하겠습니다. 그리고 오늘 보다 내일 더 성장하는 롯데 e커머스의 일원이 되겠습니다."]))

In [ ]:
#모델 저장하기
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
import pickle
from sklearn.externals import joblib

In [ ]:
joblib.dump(text_clf_svm, 'svm_clf_model.pkl') #피클 파일로 모델 저장

In [ ]:
clf_from_joblib = joblib.load('svm_clf_model.pkl')

#모델이 올바르게 저장됐는지 확인해보기
no_save = text_clf_svm.decision_function(["저는 열정적인 사람입니다"])
save = clf_from_joblib.decision_function(["저는 열정적인 사람입니다"])

print(no_save == save)